.teams-wrapper {
    padding: 5rem 10rem;
}

.teams-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0 0 4rem 0;
}

.teams-wrapper ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem .75rem;
    background-color: #efefef;
    margin-bottom: .5rem;
    border: 1px solid #ccc;
}

.teams-wrapper h1,
.teams-wrapper h2 {
    color: violet;
}

button {
    background-color: violet;
    padding: .75rem 1rem;
    border: none;
    font-family: inherit;
    color: white;
    margin-left: auto;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: purple;
}

.block {
    display: block;
    color: white;
    text-transform: uppercase;
    padding: 3rem;
    margin: 0;
}

.selection-made {
    background-color: #efefef;
    color: #333;
}

.no-selection {
    background-color: purple;
}

.error-message {
    background-color: black;
}

.loading-graphic {
    background-color: greenyellow;
    color: black;
}